<body class="places-body">
<hr class="box3">
    <section class="body-card-section">
        {{! -> espaço total }}

        {{#each places}}
        <div class="shape-behind-card">
            {{! <div class="card-size"> }}
                <div class="card row border-0" style="width: 16rem;">
                    <div class="card-body card-places">
                        <img class="card-img-top img" src="{{image}}" alt="Card image Tour" />
                        <h5 class="card-h5">{{name}}</h5>
                        <p class="card-description"><b>Description:</b>{{description}}</p>
                        <p><b>Website: </b><a href="{{website}}" class="click-here-button">Click here</a></p>
                        <p><b>Accessibility level:</b>{{accessibility}}</p>
                        <p><b>Location:</b>{{location}}</p>
                        
                        <a href="/places/edit/{{_id}}"class="btn animation animation2 btn-cards-places">Edit place</a>
                        <a href="/reviews/create/{{_id}}"class="btn animation animation2 btn-cards-places">Create review</a>
                        <a href="/reviews/list/{{_id}}"class="btn animation animation2 btn-cards-places">See reviews</a>
                        
                    </div>
                </div>
            </div>
            {{/each}}

    </section>

</body>

