{{!--
{{#each reviews}}
<h1>By: {{user.username}}</h1>
<p>{{content}}</p>
<form action="/reviews/{{_id}}/delete/{{../_id}}" method="post">
  <button type="submit">Delete</button>
</form>

{{/each}} --}}





<body class="places-body">
  <hr class="box3">
  <section class="body-card-section">
    {{! -> espaço total }}

    {{#each reviews}}
    <div class="shape-behind-card">
      {{! <div class="card-size"> }}
        <div class="card row border-0" style="width: 17rem;">
          <div class="card-body card-places">

            <img class="card-img-top img star" src="/images/25533-removebg-preview.png" alt="star" />
            <p class="card-text"> "{{content}}"</p>

           <form action="/reviews/{{_id}}/delete/{{../_id}}" method="post">
              <button type="submit" class="animation delete-btn">Delete</button>
            </form>


          </div>
        </div>
         
      </div>
      
      {{/each}}

  </section>

</body>