{{!-- 
  <select name="author" id="author">
    {{#each review}}

      <p>{{user}}</p>
      <p>{{content}}</p>

      <button type="submit">Delete this review!</button>

    {{/each}}

    <button type="submit">Create a new review!</button>
  </select>

</form> --}}

{{!-- {{#each reviews}}
<h1>{{reviews.content}}</h1>
<h1>{{reviews.user.username}}</h1>
{{/each}}  --}}

{{!-- <ul>
  {{#each places.reviews}}
    <li>
      <p>{{this.content}}</p>
      <p>By: {{this.user}}</p>
    </li>
  {{/each}}
</ul> --}}


